@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    /* https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;

    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

